.GameAnswerResult {
  content: "";
  text-indent: -9999px;
  z-index: 999999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -65px;
  margin-left: -65px;
  width: 131px;
  height: 130px;
}
.GameAnswerResult.Wrong {
  background: transparent url("../assets/xRed.png") no-repeat;
  animation: wrong-answer 0.3s;
}
.GameAnswerResult.True {
  background: transparent url("../assets/arrowGreen.png") no-repeat;
  animation: right-answer 0.3s;
}
@keyframes wrong-answer {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  15% {
    opacity: 1;
  }
  40% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
@keyframes right-answer {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  8% {
    opacity: 1;
  }
  18% {
    opacity: 1;
    transform: scale(1);
  }
  72% {
    transform: scale(0.9);
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
